.bg_red {
  background-color: red;
}

.bg_green {
  background-color: green;
}

.bg_blue {
  background-color: blue;
}

.home {
  text-align: center;
  padding-bottom: 50px;
}

#header {
  background-color: rgb(221, 221, 221);
  margin-top: -25px;
  height: 150px;
  padding: 25px;
}

.container_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.card {
  width: 250px;
  height: 300px;
  margin: 25px;
  display: flex;
  flex-direction: column;
  background-color: rgb(224, 224, 224);
}

.img {
  width: 250px;
}
