.bg_red {
  background-color: red;
}

.bg_green {
  background-color: green;
}

.bg_blue {
  background-color: blue;
}

.home {
  text-align: center;
  padding-bottom: 50px;
}

#header {
  height: 48vh;
}

.imgBanner {
  position: relative;
  width: 100%;
  height: 45vh;
  object-fit: cover;
}

.textBanner {
  position: relative;
  bottom: 200px;
  background-color: rgba(226, 226, 226, 0.381);
  color: white;
}

#container {
  
}

.container_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.card {
  width: 250px;
  height: 300px;
  margin: 25px;
  display: flex;
  flex-direction: column;
  background-color: rgb(224, 224, 224);
}

.img {
  width: 250px;
  height: 20vh;
  object-fit: cover;
}

.card-title {
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;
  font-weight: bold;
}
