.bg_red {
  background-color: red;
}

.bg_green {
  background-color: green;
}

.bg_blue {
  background-color: blue;
}

.home {
  text-align: center;
}

.container_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.card {
  width: 250px;
  height: max-content;
  margin: 25px;
  display: flex;
  flex-direction: column;
}

.img {
  width: 250px;
}
